<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF File Size Reducer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
      <strong><a class="navbar-brand" style="color: #fff700;" href="<?php echo url('/'); ?>">Cordite Factory
          Aruvankadu</a></strong>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a style="color:white" class="nav-link" href="/">OCR File Reader</a>
          </li>
          <li class="nav-item">
            <a style="color:white" class="nav-link" href="/resize_pdf">PDF File Size Reducer</a>
          </li>
          <li class="nav-item">
            <a style="color:white" class="nav-link" href="/resize_image">Image File Size Reducer</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    <div class="alert alert-primary text-center">
      <h1>PDF File Size Reducer</h1>
    </div>

      <div class="text-center my-5">
      <h4 class="text-dark text-left">Upload PDF for Resizing</h4>
    </div>

    <div class="container">
        <form action="/resize_pdf" method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
            <div class="row align-items-center mb-3">
                <div class="col-lg-8 mb-3">
                    <input class="form-control form-control-lg border-primary" id="formFilelg" type="file" name="file"
                        accept=".pdf" required>
                </div>
                <div class="col-lg-2 mb-3">
                    <button type="submit" class="btn btn-lg btn-success w-100">Submit</button>
                </div>
                <div class="col-lg-2 mb-3">
                    <button type="button" class="btn btn-lg btn-warning w-100" onclick="refreshPage()">Reset</button>
                </div>
            </div>
            <label for="action">Choose action:</label>
        <select id="action" name="action">
            <option value="compress">Compress PDF</option>
            <option value="resize">Resize PDF</option>
        </select><br><br>
        </form>

    <script>
        function refreshPage() {
            window.location.reload();
        }
    </script>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
